/* encabezado-----------------------------------*/
header{
    background-color: rgb(203, 214, 227);
    padding-top: 10px;
    height: 120px;
    padding-bottom: 10px;
}

.aguacatico{
    width: 110px;
    height: 110px;
    border-radius: 80%;
    border: 5px solid rgb(203, 214, 227);
    margin-top: -110px;
    margin-left: 60px;
}
.nombre{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 110px;
    background-color:rgb(203, 214, 227); 
    width: 350px;
}
.nom{
    margin: 10px;
    color: rgb(40, 60, 94);
    font-size: 35px;

}
.cargo{
    margin: 0px;
    color: rgb(40, 60, 94);
    margin-left: 15px;
    
}
/*Contacto---------------------------------*/
.telefono{
    display: flex;
    flex-direction: row;
}
.numero{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.correo{
    margin-top: -10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column
    
}
.sitio{

    color: rgb(0, 2, 5);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.telcon{
    display: flex;
    flex-direction: row;
}

.imgmensaje{
    background-color: rgb(40, 60, 94);
    border-radius: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width:20px;
    height: 20px;
    margin-left: 20px   
}
.imgtelefono{
    background-color: rgb(40, 60, 94);
    border-radius: 80px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    padding: 5px;
}
.imginternet{
    background-color: rgb(40, 60, 94);
    border-radius: 80px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    padding: 5px;
}
/*------------------------------------------*/
.contacto{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 2px;
}
/*----------------------------------------*/
.habilidades{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/*-------------------------------------------*/
.educacion{
    margin: 10px;
}

/*---------------------------------------*/
.acercademi{
    margin: 10px;
    margin-top: 19px;
    margin-right: 18px;
    margin-left: 10px;
}

.textoa{
    margin-left: 20px;
}
/*-------------------------------------------*/
.experiencialaboral{
    margin: 10px;
    margin-right: 16px;
    margin-left: 10px;
}







/*partes------------------------------------ */
.parteazul{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 244, 254);
    float: right;
    width: 35%;
}
.parteblanca{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 65%;
}

.todo{
    display: flex;
    flex-direction: row;
}
/*---------------------------------------*/



hr{
    height: 5px;
    background-color: rgb(40, 60, 94);
    width: 50px;
    margin-left: 1px;
}
h4{
    color: rgb(40, 60, 94);
}

body{
    display: flow;
    
}
.letralin{
    margin-left: 20px;

}


.container{
    max-width:800px;
    min-width: 800px;
    margin: auto;
}



